/* sabitler */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 16px;
}
body {
	position: absolute;
	width: 98.6vw;
	height: 100vh;
	background-color: white;

}
header{
	width: 100%;
	position: fixed;
	text-align: center;
	padding: 2em;
	height: 6em;
	font-size: 1em;
	z-index: 1000;
	background-color: white;
}
.list{
	position: relative;
    width: 100%;
    margin-top: 6em;
    height: calc(100vh - 6em);
}
	.thumb{
		margin: 0 auto 5vh auto;
	}
/* media query set */
@media ( max-width: 425px ) {
	.lightboxOverlay{
		width: 100%;
	}
	.thumb{
		width: 90vw;
		margin: 0 5vw 5vh;
	}
}
@media (min-width : 426px ) {
	.list{
		margin: 6em 5vw 5vh;		
	}
	.thumb{
		width: 45vw;
	}
}
@media ( min-width : 961px ) {
	.list{
		max-width: 980px;
		margin-left: auto;
		margin-right: auto;
	}
	.thumb{
		max-width: 195px;
	}
	a{
		margin-right: 60px;
	}
	.list a:nth-of-type(4n+0){
		margin-right: 0;
	}
	.lb-nav a.lb-prev,
	.lb-nav a.lb-next{
		position: fixed;
		opacity: 1;
	}
	.lb-image{
    max-width: 980px;
    max-height: 60vh;
	}
	.lb-dataContainer{
		width: 600px;
		margin-top: 8vh;
	}
	.lb-data .lb-close {
    position: absolute;
    top: 1vh;
    right: 1vw;
    z-index: 999;
}
}